


@media (max-width: 900px) {
  .section-story {
   .our-story {
      flex-direction: column;
      margin-top: 4rem;
      .back-poster {
        width: 50%;
        min-width: calc(320px - 3rem);
      }
      .back-poster-text {
        position: relative;
        width: 100%;
        transform: translateY(-0%);
        margin-top: 2rem;
      }
    }
  }
  .dishes {
    .dishes__list {
     .dish {
       padding-top: 40px;
       margin-bottom: 25px;
       flex: 0 0 33%;
     }
    }
  }
  .sets {
    .back-poster {
      width: 50%;
      min-width: calc(320px - 3rem);
    }
    .set-top {
      flex-direction: column;
      .back-poster-text{
        position: relative;
        width: 100%;
        transform: translateY(-0%);
        margin-top: 2rem;
      }
    }
    .set-bottom {
      margin: 50px 0 70px;
      flex-direction: column;
      .back-poster-text{
        order: 2;
        position: relative;
        width: 100%;
        transform: translateY(-0%);
        margin-top: 2rem;
      }
      .back-poster{
        right: initial;
      }
    }
  }
  .quotations {
    .fluid-wrapper {
      flex-wrap: wrap;
      .quotation, img {
        width: 100%;
      }
      .quotation {
        order: 2;
        padding: 3rem 0;
      }
    }
  }
  .order {
    .order_box {
      flex-direction: column;
      .back-poster-text {
        position: relative;
        width: 100%;
        transform: translateY(0%);
        margin-top: 2rem;
      }
      .back-poster {
        width: 50%;
        min-width: calc(320px - 3rem);
      }
    }
  }
  .subscribe {
    width: 90%;
    margin: 0 auto;
    .subscribe__box {
      flex-direction: column;
      .subscribe__box-info {
        margin-bottom: 30px;
        h5 {
          width: initial;
        }
      }
    }
  }
  footer {
    .footer__cols {
      .footer__col-1, .footer__col-2, .footer__col-3, .footer__col-4 {
        flex: 0 1 48%;
        &:nth-child(3), &:nth-child(4) {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    .main-menu{
      ul li {
        margin-right: 20px;
      }
    }
  }
  .section-story {
    .section-story__cards {
      .section-story__card {
        padding: 35px 10px 20px;
      }
    }
  }
}



@media (max-width: 700px) {
  html {
    font-size: 9px;
  }

  header {
    .header-text {
      margin-top: 30px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.7);
    }

    label{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
    }

    .burger {
      width: 35px;
      height: 43px;
      position: relative;
      display: block;
      .burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transition: .5s all;
      }
      .second, .third{
        top: 18px;
      }
      .fourth{
        top: 28px;
      }
    }


    .main-menu {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s all;

      ul {
        display: block;
        background-color: #0b0a08;
        li {
          margin-right: 0;
          text-align: center;
          border-top: 1px solid rgba(255, 255, 255, .3);
          a {
            display: block;
            width: 100%;
            padding: 10px;
            color: white;
            text-decoration: none;
          }

          &:last-child a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            width: auto;
            margin: 15px auto;
          }

          &:hover {
            background-color: rgba(0, 0, 0, .9);
          }
        }
      }
    }
  }
  .dishes {
    .dishes__list {
      .dish {
        flex: 0 0 48%;
      }
    }
  }
  .blog {
    .blog__items {
      .blog__item {
        flex-basis: 48.5%;
        &:nth-child(3), &:nth-child(4) {
          margin-top: 30px;
        }
      }
    }
  }
}



@media (max-width: 650px) {
  .section-story {
    .section-story__cards {
      .section-story__card {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
    }
  }
  .back-poster-text {
    padding: 25px 40px;
  }

  .cooks {
    .cooks__items {
      justify-content: center;
      .cooks__item {
        flex: 0 1 340px;
        + .cooks__item {
          margin-top: 60px;
        }
      }
    }
  }
  .subscribe {
    .subscribe__box {
      padding: 50px;
    }
  }
}

@media (max-width: 500px) {
  .dishes {
    .dishes__menu {
      .dishes__menu-item {
        flex: 1 1 120px;
      }
    }
    .dishes__list {
      justify-content: center;
    }
  }
  .recipes {
    .recipes__cols {
      .recipes__col {
        flex: 1 1 48%;
        &:nth-child(2) {
          margin-right: 0;
        }
        &:nth-child(3) {
          margin-left: 0;
        }
      }
    }
  }

  .achievements {
    .achievements__items {
      .achievement__item {
        flex: 1 1 48%;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 40px;
        }
      }
    }
  }
  .order {
    .order_box {
      .order__form {
        .form__line {
          flex-wrap: wrap;
        }
        .input_group {
          flex: 1 1 100%;
          + .input_group {
            margin-left: 0;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .subscribe {
    .subscribe__box {
      padding: 20px;
      .subscribe__box-form {
        form {
          flex-wrap: wrap;
          input + button {
            margin-left: 0;
            margin-top: 20px;
            flex-basis: 100%;
          }
        }
      }
    }
  }

}

@media (max-width: 460px) {
  .dishes {
    .dishes__list {
      .dish {
        flex: 0 0 75%;
      }
    }
  }
  footer {
    .footer__cols {
      .footer__col-1, .footer__col-2, .footer__col-3, .footer__col-4 {
        flex: 0 1 100%;
        margin-top: 30px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .dishes {
    .dishes__menu {
      .dishes__menu-item {
        flex: 1 1 95px;
      }
    }
  }
  .blog {
    .blog__items {
      .blog__item {
        flex-basis: 100%;
        margin-top: 30px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
